/*基础选择器-通配选择器:作用于所有标签，无论你这个有没有写，有没有在文档当中出现*/
/*选择器{css语句;css语句;}
选择器{
	css语句;
	css语句;
}*/

/*基础选择器-标签名选择器:作用于一类标签，方式是通过标签名称,使用场景：重置某类标签的默认样式。*/
body{
	margin:0;
	background-color:red;
	font-size:14px;
	color:;
	font-family: ""
}
h1,h2{
	margin:0;
	padding:0;
}

a{

}
img{
	
}
.ml10{
	margin-left:10px;
}
.f10{
	font-size:10px;
}
.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.auto{
	margin:0 auto;
}
/*基础选择器-群组选择器:选择器1,选择器2,...{
	
	} 使用场景：用于优化代码，减少文档体积*/

/*基础选择器-类选择器：.类名称{
	
	} 使用场景：可以应付各种场景，是我们最常用一种选择器。class名可以多个，多个class名用空格隔开。
	主要用于具有相同样式的元素设置上。
	<!-- class命名规范  -->
	<!-- 1.不要以数字开头 -->
	<!-- 2.尽量取的有意义 -->
	<!-- 3.多个单词建议使用_连接 -->*/

/*基础选择器-后代选择器：选择器1 选择器2 选择器3...{
	
	}*/


