div,input
	width 100px
	height 100px
	&:hover
		color red
	a
		color blue


pad(n)
	padding(-n)

body
	pad(5px)

#logo
	position absolute
	top 50%
	left 50%
	width 150px
	height 80px
	margin-left -(@width/2)
	margin_top -(@height/2)