div {
  width: 110px;
  height: 100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
div:hover {
  color: red;
}
div a {
  text-decoration: none;
}
div span {
  color: red;
}
