.wrap {
  width: 10.0rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.wrap .outer {
  width: 10.0rem;
  height: 100vh;
  background: url("../src/img-elem03/mask.jpg") no-repeat top left / 100%;
  -webkit-filter: blur(0.133333rem);
          filter: blur(0.133333rem);
  position: absolute;
  top: 0;
  left: 0;
}
.wrap .inner {
  width: 10.0rem;
  min-height: 98.72vh;
  background: rgba(7, 17, 27, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.wrap .inner .shopping {
  width: 10.0rem;
  background: white;
  position: absolute;
  bottom: 1.10rem;
  left: 0;
}
.wrap .inner .shopping p {
  padding: 0 0.48rem;
  height: 1.066667rem;
  background: #f3f5f7;
  border-bottom: 0.026667rem solid rgba(7, 17, 27, 0.1);
  overflow: hidden;
  line-height: 1.066667rem;
}
.wrap .inner .shopping p span {
  float: left;
  font-size: 0.373333rem;
  font-weight: 200;
  color: #07111b;
}
.wrap .inner .shopping p a {
  font-size: 0.32rem;
  color: #00a0dc;
  float: right;
}
.wrap .inner .shopping ul {
  padding: 0 0.48rem;
}
.wrap .inner .shopping ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.32rem 0;
}
.wrap .inner .shopping ul li h2 {
  font-size: 0.373333rem;
  color: #07111b;
}
.wrap .inner .shopping ul li .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .inner .shopping ul li .con .price {
  font-size: 0.373333rem;
  color: #f01414;
  font-weight: 700;
  margin-right: 0.32rem;
}
.wrap .inner .shopping ul li .con .adds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .inner .shopping ul li .con .adds a {
  font-size: 0.64rem;
  color: #00a0dc;
}
.wrap .inner .shopping ul li .con .adds span {
  font-size: 0.266667rem;
  color: #93999f;
  margin: 0 0.266667rem;
}
.wrap .inner .shopping ul li:nth-of-type(n+2) {
  border-top: 0.013333rem solid rgba(7, 17, 27, 0.1);
}
.wrap .footer {
  width: 10.0rem;
  height: 1.28rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #141d27;
}
.wrap .footer .shbox {
  width: 1.173333rem;
  height: 1.173333rem;
  border-radius: 50%;
  padding: 0.16rem;
  position: absolute;
  left: 0.48rem;
  top: -0.333333rem;
  background: #141d27;
}
.wrap .footer .shbox .innerbox {
  border-radius: 50%;
  height: 1.173333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 0.64rem;
  background-color: #00a0dc;
}
.wrap .footer p {
  font-size: 0.426667rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 0.64rem;
  margin-left: 1.999rem;
  padding-top: 0.266667rem;
}
.wrap .footer span {
  font-size: 0.32rem;
  color: rgba(255, 255, 255, 0.4);
  padding-top: 0.409998rem;
  margin-left: 0.64rem;
}
.wrap .footer span:before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 0.6rem;
  margin-right: 0.32rem;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}
.wrap .footer a {
  width: 2.8rem;
  padding: 0.326667rem 0;
  font-size: 0.32rem;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  line-height: 0.64rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
}
