extends layout
block source
	title 点播首页
	link(rel="stylesheet",href="../src/css/dianbo.css")
	link(rel="stylesheet",href="../src/css/header.css")
	link(rel="stylesheet",href="../src/css/footer.css")

block content
	include header.pug
	section.auto
	include footer.pug
