header
	div(class="auto",class="header_inner",class="clearfix")
		h1
			a(href="###")
				img(src="http://jingyingba.com/Public/home/images/logo.png",alt="精英吧logo")
		ul
			li
				a(href="###") 直播课程
			li
				a(href="###") 点播课程
			li
				a(href="###") 面授课程
		ol
			li
				a(href="###") 登录
			li
				a(href="###") 注册
		a(href="###") 公开课  
			img(src="http://jingyingba.com/Public/home/images/110200.png",alt="")   


