footer
	div.footer_inner
		div.top
			ul
				li
					a(href="###") 友情链接
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
				li
					a(href="###") 蓝欧科技
			div
				a(href="###") 更多&gt;&gt;
		div.middle
			dl
				dt 
					a(href="###") 我们的实验室
				dd
					a(href="###") 在线编程
				dd 
					a(href="###") 奖学制度
				dd 
					a(href="###") 在线班级
				dd 
					a(href="") 课后60分钟考试
			dl
				dt 
					a(href="###") 关于我们
				dd 
					a(href="###") 精英吧简介
				dd 
					a(href="###") 联系我们
				dd 
					a(href="###") 加入我们
			dl
				dt 
					a(href="###") 现有课程
				dd 
					a(href="###") iOS
				dd 
					a(href="###") Android
				dd 
					a(href="###") unity3D
				dd 
					a(href="###") H5
			dl
				dt 
					a(href="###") 帮助
				dd 
					a(href="###") 联系客服
				dd
					a(href="###") 版权声明
				dd
					a(href="###") 法律声明
				dd 
					a(href="###") 服务条款
			dl
				dt 反馈方式
				dd 
					a(href="###") 电子邮箱:help@xxxxx.com
				dd 微信反馈:精英吧微信公众号
				dd
					img(src="../src/img-footer/erweima.png",alt="二维码图片")
			div
				p 口袋精英app
				img(src="../src/img-footer/erweima2.png",alt="二维码大图片")
				p (扫码下载)
	div.footer_bottom
			p 蓝鸥科技有限公司&copy;1997-2006|北京市海淀区清河毛纺路路南36号金五星商业大厦5层

























