header
	div.header_inner
		h1
			a(href="###")
				img(src="../src/img-header/logo.png",alt="精英吧logo")
		ul
			li
				a(href="###") 课程
			li
				a(href="###") 学习指导
			li
				a(href="###") 企业指导
			li
				a(href="###") 互联网头条
			li
				a(href="###") ＋提问
		
		ol
			li
				a(href="###") 注册
			li
				a(href="###") 登录