extends layout.pug
block source
	title 线上课程页面
	link(rel="stylesheet",href="../css/lesson.css")
block content
	include header.pug
	div.nav
		ul
			li
				a(href="###") 分类：
			li
				a(href="###") 全部
			li
				a(href="###") unity 3D
			li
				a(href="###") iOS
			li
				a(href="###") Android
			li
				a(href="###") Html5
		ul
			li
				a(href="###") 区域：
			li
				a(href="###") 全部
			li
				a(href="###") 朝阳区
			li
				a(href="###") 海淀区
			li
				a(href="###") 西城区
			li
				a(href="###") 东城区
	div.main	
		div.main_left
			div
				a(href="###") 默认
			div
				a(href="###") 好评
			ul
				li
					h2 英语零基础直达四级水平新概念
						span [朝阳地区]
					ul
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li 评分8.9分
					p 北京市海淀区清河中街金五星大厦五楼
				li
					h2 英语零基础直达四级水平新概念
						span [朝阳地区]
					ul
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li 评分8.9分
					p 北京市海淀区清河中街金五星大厦五楼
				li
					h2 英语零基础直达四级水平新概念
						span [朝阳地区]
					ul
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li
							a(href="###")
						li 评分8.9分
					p 北京市海淀区清河中街金五星大厦五楼
		div.main_right
	include footer.pug