extends layout.pug
block source
	title 精英吧主页
	link(rel="stylesheet" href="../css/zhuye.css")
block content
	include header.pug
	section.nav_line
		div.slider
			ul
				li.active
					a(href="###")
						img(src="../src/img-zhuye/slider-1.png",alt="xxx")
				li
					a(href="###")
						img(src="../src/img-zhuye/slider-2.png",alt="xxx")
				li
					a(href="###")
						img(src="../src/img-zhuye/slider-3.png",alt="xxx")
				li
					a(href="###")
						img(src="../src/img-zhuye/slider-4.png",alt="xxx")
		div.load
			div.top
				div
					p Hi,中午好，欢迎来到精英吧。
					form(action="",method="")
						input(type="submit",name="",value="登录")
						input(type="submit",name="",value="注册")
			div.center
				span
					a(href="###") 新手入门
				span
					a(href="###") 了解精英吧&gt;
				ul
					li
						a(href="###")
							svg(class="icon",aria-hidden="true")
								use(xlink:href="#icon-shuben")
							p 1. 理论学习
					li
						a(href="###")
							svg(class="icon",aria-hidden="true")
								use(xlink:href="#icon-shuben")
							p 2. 大牛答疑
					li
						a(href="###")
							svg(class="icon",aria-hidden="true")
								use(xlink:href="#icon-shuben")
							p 3. 在线评估
					li
						a(href="###")
							svg(class="icon",aria-hidden="true")
								use(xlink:href="#icon-shuben")
							p 4. 线下实训
							  
			ol
				li
					a(href="###") 奖学
				li
					a(href="###") 就业
				li
					a(href="###") 圈子
	ul.search1
		li
			span
			div
				h2 
					a(href="###") 课程学习
				p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建。
		li
			span
			div
				h2
					a(href="###") 学习指导
				p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建。
		li
			span
			div
				h2
					a(href="###") 课程学习
				p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建。
		li
			span
			div
				h2
					a(href="###") 课程学习
				p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建。
		li
			span
			div
				h2
					a(href="###") 课程学习
				p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建。
	div.lesson
		h2 精英吧在线课程
		ul
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
		ol
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
	div.style
		h2 不一样的学习方式：你学习的不仅仅是技能
		ul
			li
				div
				h3 同学一起学
				p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级。
			li
				div
				h3 学习顾问指引
				p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级。
			li
				div
				h3 奖学制度
				p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级。
			li
				div
				h3 有问必答
				p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级。
	div.teacher
		h2 目前我们共有超过30000注册学习用户
			span 目前已经有259名学生获得奖学金
		ul
			li
				div
				p 账户名称
				p Android基础课
				p 综合分数91分
				p 奖学金
				h4 3000元
			li
				div
				p 账户名称
				p Android基础课
				p 综合分数91分
				p 奖学金
				h4 2000元
			li
				div
				p 账户名称
				p Android基础课
				p 综合分数91分
				p 奖学金
				h4 1000元
			li
				div
				p 账户名称
				p Android基础课
				p 综合分数91分
				p 奖学金
				h4 800元
			li
				div
				p 账户名称
				p Android基础课
				p 综合分数91分
				p 奖学金
				h4 500元
	div.cor
		h2 合作机构
		ul
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")
			li
				a(href="###")      
	include footer.pug























