extends layout.pug
block source
	link(rel="stylesheet", href="../css/elem03.css")
	title 外卖03_商品页_购物车详情
block content
	div.wrap
		div.outer
		div.inner
			div.shopping
				p 
					span 购物车
					a(href="###") 清空
				ul
					li
						h2 莲子核桃黑米粥
						div.con
							span.price ￥10
							div(class="adds")
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-removecircleoutline")
								span 1
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-add_circle")
					li
						h2 莲子核桃黑米粥
						div.con
							span.price ￥10
							div(class="adds")
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-removecircleoutline")
								span 1
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-add_circle")
					li
						h2 莲子核桃黑米粥
						div.con
							span.price ￥10
							div(class="adds")
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-removecircleoutline")
								span 1
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-add_circle")
					li
						h2 莲子核桃黑米粥
						div.con
							span.price ￥10
							div(class="adds")
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-removecircleoutline")
								span 1
								a(href="###")
									svg(class="icon" aria-hidden="true")
										use(xlink:href="#icon-add_circle")
		div.footer
			div.shbox
				div.innerbox
					svg(class="icon" aria-hidden="true")
						use(xlink:href="#icon-shopping_cart")
			p.fl ￥40
			span.fl 另需配送费￥4元
			a(href="###",class="fr") 还差￥10起送
block content2
	script(src="../js/elem03.js")
	

