extends layout.pug
block source
	link(rel="stylesheet", href="../css/elem05.css")
	title 外卖05_评价页
block content
	div(class="contentWrap clearfix")
		div.mask
		div(class="header clearfix")
			div.logoWrap
				img(src="../src/img-elem05/logo.png", alt="logo")
			div.wrap
				h1 粥品香坊(大运村)
				p 蜂鸟专送/38分钟送达
				p 在线支付满28减5，满50减10
			a(href="###") 5个
				svg(class="icon" aria-hidden="true")
					use(xlink:href="#icon-keyboardarrowright")
			p.sp 粥品香坊其烹饪粥料的秘方源于中国千年古法，再融合现代工艺...
		ul.nav
			li
				a(href="###") 商品
			li
				a(href="###") 评价
			li
				a(href="###") 商家
		div(class="score clearfix")
			div(class="lefts fl")
				p 3.9
				p 综合评分
				p 高于周边商家69.2%
			div(class="rights fl")
				p.clearfix 
					span.fl 服务态度
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_off@2x.png", alt="star")
					span.spss 3.9
				p.clearfix
					span.fl 服务态度
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_on@2x.png", alt="star")
					a(href="###" class="fl")
						img(src="../img/star36_off@2x.png", alt="star")
					span.spss 4.0
				p
					span 送达时间
					span 44分钟
		div.kong
		div.pingjia
			ul
				li
					a(href="###") 全部
						span 57
				li 
					a(href="###") 满意
						span 47
				li 
					a(href="###") 不满意
						span 10
		div.gou
			p 只看有内容的评价
		ul.bigps
			li
				div
					p.clearfix
						span.fl 聚***家
						span.fr 20:33
						span.fr 2016-07-13
					p
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						span 80分钟送达
				p.hs 油条凉了，而且没有酱。75分钟才到。很慢。送餐员态度不错，但毕竟好晚了啊。
				p.hs 
					span 大王香菇卤...
					span 大王香菇卤...
					span 大王香菇卤...
			li
				div
					p.clearfix
						span.fl 谭***0
						span.fr 20:33
						span.fr 2016-07-13
					p
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						span 60分钟送达
				p.hs 这次太慢了，下次希望能直接和客户沟通而不是我一次一次打电话问，但师父态度好。
				p.hs 
					span 大王香菇卤...
			li
				div
					p.clearfix
						span.fl 叽***********
						span.fr 20:33
						span.fr 2016-07-13
					p
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						img(src="../img/star24_on@2x.png", alt="star")
						span 40分钟送达
				p.hs 我要求18点45送达，结果提前了45分钟，家里没人。
				p.hs 
					span 大王香菇卤...
					span 大王香菇卤...
					span 大王香菇卤...
	div.footer
		div.shbox
			div.innerbox
				svg(class="icon" aria-hidden="true")
					use(xlink:href="#icon-shopping_cart")
		p.fl ￥0
		span.fl 另需配送费￥4元
		a(href="###",class="fr") ￥20起送



























