extends layout.pug
block source
	link(rel="stylesheet", href="../css/elem01.css")
	title 外卖01_商品页
block content
	div(class="contentWrap clearfix")
		div.mask
		div(class="header clearfix")
			div.logoWrap
				img(src="../src/img-elem01/logo.png", alt="logo")
			a(href="elem02.html")
				div.wrap
					h1 粥品香坊(大运村)
					p 蜂鸟专送/38分钟送达
					p 在线支付满28减5，满50减10
			a(href="###") 5个
				svg(class="icon" aria-hidden="true")
					use(xlink:href="#icon-keyboardarrowright")
			p.sp 粥品香坊其烹饪粥料的秘方源于中国千年古法，再融合现代工艺...
		ul.nav
			li
				a(href="###") 商品
			li
				a(href="###") 评价
			li
				a(href="###") 商家
		ul(class="aside fl")
			li
				a(href="###") 热销榜
			li
				a(href="###") 单人特色套餐
			li
				a(href="###") 特色粥品
			li
				a(href="###") 精选热菜
			li
				a(href="###") 爽口凉菜
			li
				a(href="###") 半成品
			li
				a(href="###") 饭类
			li
				a(href="###") 面类
		ol(class="right_side fl")
			li
				p.sps 单人特色套餐
				ul
					li
						h2 皮蛋瘦肉粥配包子套餐
						p 咸粥
						p 月售1132份　好评率100%
						p.price 
							span ￥24
							span ￥28
						div(class="clearfix adds")
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-removecircleoutline")
							span 0
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-add_circle")

			li
				p.sps 特色粥品
				ul
					li
						h2 莲子核桃黑米粥
						p 月售1132份　好评率100%
						p.price  
							span ￥10
						div(class="clearfix adds")
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-removecircleoutline")
							span 0
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-add_circle")
					li
						h2 莲子核桃黑米粥
						p 月售1132份　好评率100%
						p.price  
							span ￥10
						div(class="clearfix adds")
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-removecircleoutline")
							span 0
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-add_circle")
					li
						h2 莲子核桃黑米粥
						p 月售1132份　好评率100%
						p.price  
							span ￥10
						div(class="clearfix adds")
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-removecircleoutline")
							span 0
							a(href="###")
								svg(class="icon" aria-hidden="true")
									use(xlink:href="#icon-add_circle")
		div.footer
			div.shbox
				div.innerbox
					svg(class="icon" aria-hidden="true")
						use(xlink:href="#icon-shopping_cart")
			p.fl ￥0
			span.fl 另需配送费￥4元
			a(href="###",class="fr") ￥20起送
block content2
	script(src="../js/elem01.js")




































		

