html
	head
		meta(charset="utf-8")
		link(rel="stylesheet",href="../css/base.css")
		script(src="../build/flexible_css.debug.js")
		script(src="../build/flexible.debug.js")
		link(rel="stylesheet", href="../css/layout.css")
		block source
	body
		block content
	script(src="../iconfont.js")
	script(src="../js/jquery-3.2.1.min.js")
	block content2