doctype html
html
    head
        title 我的网站
        meta(charset="utf-8")
    body
        h1 我主页的标题
        div 测试div
        ul
            -each val in arr
                li 姓名是：#{val.name} 年龄是：#{val.age}
        p #{str}