doctype html
html
	head
		meta(charset="utf-8")
		title 这是pug的练习
		link(rel="",href="")
	body
		//-h1 今天学了pug,美滋滋
		div(class='div1 auto xxx')
		div#div1
		p.
			xxxx
			xxxx
			xxxx
		h2 哈哈
		strong 你好




