doctype html
html
	head
		meta(charset="utf-8")
		title pug演示网页
		
	body
		h1 h1标签
		//-div(class="div1",id="div2") 
			a(href="xxx") 百度链接

		span.button 这是一个span标签
		span#span2.
			xxx
			xxx
			xxx
		//-div.div4 这是一个div4
		span.span3
			a(href="www.baidu.com") 百度链接


	