extends layout
block source
	title 精英吧首页
	link(rel="stylesheet",href="../src/css/base.css")
	link(rel="stylesheet",href="../src/css/index.css")
block content
	include header
	section.auto 我是首页内容
	include footer

