extends layout
block source
	title 精英吧-直播
	link(rel="stylesheet",href="../src/css/base.css")
	link(rel="stylesheet",href="../src/css/zhibo.css")
block content
	include header
	section.auto 我是直播
	include footer

