/*css选择器的优先级：作用的元素一样，样式一样，就会有优先级问题
		通配选择器 0
		标签名选择器 1
		类选择器 10 
		id选择器 100
		后代选择器 选择器1 选择器2 选择器3 ...优先级会有相加的概念。
		群组选择器 选择器1，选择器2，选择器3，...优先级没有相加的概念，后写的生效。

		1.相同类型的选择器 样式冲突下 后覆盖前 
		2.不同类型的选择器 样式冲突下 优先级高覆盖优先级低
		3.* < Tags < class < id < style < !importent(慎用, 记得加注释)
*/
span{
	display: block;
	width:200px;
	height:200px;
	background:red;
}
div{
	width:200px;
	height:200px;
	background:blue;
}

#test{
	background:gold;
}

